@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
 box-sizing: border-box;
 font-family: "Roboto", "Helvetica Neue";
 margin: 0;
 padding: 0;
}

html {
    /*  permite deslizar cuando haga click en los links del menu */
    scroll-behavior: smooth;
}
/*  imagen de fondo*/
body{
    background-image: linear-gradient(to top, rgba(41,41,41,.7), rgba(41,41,41,.9)), url(../img/digital-marketing-8630397_1280.png);
    background-repeat: repeat; 
    background-size: cover;
    background-attachment: fixed;
}
/*  menu */
.contenedor-encabezado{
    background:rgba(41, 41, 41, 0.95) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.contenedor-encabezado header{
    max-width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.contenedor-encabezado header .logo a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.4em;
    color: rgba(230,214,45,.8);
    text-decoration: none;
    margin-right: 1.6em;
}

.contenedor-encabezado header ul{
    display: flex;
    list-style: none;
}

.contenedor-encabezado header .logo a:hover{
    font-size: 2.5em;
    color: rgba(230,214,45,.95);
    font-weight: bold;
}

.contenedor-encabezado header nav ul li a{
    text-align: none;
    font-size: .95em;
    color: #fff;
    margin: 0 .6em;
    padding: .9em;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 1px;
}

.contenedor-encabezado header nav ul li a:hover{
    color: rgba(230,214,45,.95);
    font-size: 1.11em;
    text-decoration: dashed;
    font-weight: bold;
    border: 3px solid  rgba(230,214,45,.95);
    border-radius: 20%;
}

.nav-responsive{
    background-color: rgba(230,214,45,.85);
    color: #fff;
    padding: 1.2em;
    border-radius: 25%;
    cursor: pointer;
    display: none;
}

.nav-responsive:hover{
    font-size: 1.1em;
}
/*  SECCION INCIO */
.inicio, .sobremi, .skills{
    height: 100vh;
    color: #fff;
    display:flex;
    align-items: center;
    padding: 1.2em;
}


.inicio .contenido-banner{
    padding: 1.9em;
    background-color: rgba(74, 122, 124, 0.75);
    max-width: 65%;
    margin: auto;
    text-align: center;
    border-radius: 15%;
}

.inicio .contenido-banner img{
    margin-top: 1.5em;
    border: 4px solid #fff;
    display: block;
    width: 75%;
    margin: auto;
    border-radius:  100%;
}

.inicio .contenido-banner h1{
    margin: .4em .2em;
    font-size: 2.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgba(230,214,45, .9);
}

.inicio .contenido-banner h2{
    font-size: 1.2em;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display:inline-flex;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 100%;
    width: 2.2em;
    height: 2.2em;
    margin: 1.5em .7em;
    font-size: 1.2em;
    transition: .4s;
}
.inicio .contenido-banner .redes a i{
    margin: .55em auto;
}
.inicio .contenido-banner .redes a:hover{
    background-color: rgba(230,214,45,.8);
    font-size: 1.25em;
    width: 2.25em;
    height: 2.25em;
}
/* Estilos sobre mi */ 
.sobremi .contenedor-seccion{
    max-width: 1050px;
    margin: auto;
}

.sobremi h2, .skills h2, .curriculum h2, .portafolio h2, .contacto h2{
    font-size: 1.95em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1em 0;
    letter-spacing: 3px;
}

.sobremi .contenedor-seccion p{
    font: 1.5em;
    line-height: 165%;
    margin-bottom: 1.6em;
    letter-spacing: 1px;
}

.sobremi .contenedor-seccion p span{
    color: rgba(230,214,45,.98);;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 1.75em;
    font-family: 'Times New Roman', Times, serif;
    margin: 1em .5em;
}

.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 1.3em 0;
    list-style: none;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: rgba(230,214,45,.8);
    width: 5.3em;
}
.sobremi .fila .col ul li span{
    background-color: rgba(230,214,45,.85);
    padding: .7em;
    font-weight: bold;
    border-radius: 1.4em;
}

.sobremi .fila .col .contendero-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contendero-intereses .intereses{
    width: 25%;
    height: 25%;
    background-color: rgba(74, 122, 124, 0.7);
    border-radius: 1.3em;
    margin: 0 2em 1.6em 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: .2s;
    padding: 1.4em;
    
}
.sobremi .fila .col .contendero-intereses .intereses i{
    font-size: 1.6em;
    margin: .3em auto;
}
.sobremi .fila .col .contendero-intereses .intereses i span{
    margin: .2em auto;
    align-content: center;
    padding: auto 2em;
}
.sobremi .fila .col .contendero-intereses .intereses:hover{
    background-color: rgba(230,214,45,.65);
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #fff;
    width: fit-content;
    display: block;
    margin: 2.5em auto;
    padding: 1.2em 1.5em;
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 2px;
}

.sobremi button .overlay{   
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:rgba(230,214,45,.75);
    transition: 1s;
}

.sobremi button:hover .overlay{
    width : 100%;
}

/*  SECCION HABILIDADES */
.skills .contenedor-seccion{
    max-width: 1050px;
    margin: auto;
}

.skills .fila {
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 1.1em;
}

.skills .fila .col h3{
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1em;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.skills .skill .barra-skill{
    height: 10px;
    width: 85%;
    background-color: rgba(230,214,45,.4);
    position: relative;
    margin-bottom: 35px;
}

.skills .skill .progreso {
    background-color: rgba(230,214,45,.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(230,214,45,.7);
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 12px;
}

/* se agregaran automaticamente con javascript */ 

.skills .skill .javascript{
    width: 0;
    animation: 3s javascript forwards;
}

@keyframes javascript {
    0%{ width:0%; }
    100%{width: 60%;}
}

.skills .skill .htmlcss{
    width: 0;
    animation: 3s htmlcss forwards;
}

@keyframes htmlcss {
    0%{ width:0%; }
    100%{width: 90%;}
}

.skills .skill .bbdd{
    width: 0;
    animation: 3s bbdd forwards;
}

@keyframes bbdd {
    0%{ width:0%; }
    100%{width: 60%;}
}

.skills .skill .java{
    width: 0;
    animation: 3s java forwards;
    -webkit-animation:;
}

@keyframes java{
    0%{ width:0%; }
    100%{width: 55%;}
}

.skills .skill .spring{
    width: 0;
    animation: 3s spring forwards;
    -webkit-animation: 3s spring forwards;
}

@keyframes spring{
    0%{ width:0%; }
    100%{width: 45%;}
}

.skills .skill .sig{
    width: 0;
    animation: 3s sig forwards;
}

@keyframes sig{
    0%{ width:0%; }
    100%{width: 85%;}
}

.skills .skill .postigis{
    width: 0;
    animation: 3s postigis forwards;
    -webkit-animation: 3s postigis forwards;
}

@keyframes postigis{
    0%{ width:0%; }
    100%{width: 65%;}
}

.skills .skill .ofice{
    width: 0;
    animation: 3s ofice forwards;
}

@keyframes ofice{
    0%{ width:0%; }
    100%{width: 95%;}
}

.skills .skill .adapta{
    width: 0;
    animation: 3s adapta forwards;
}

@keyframes adapta{
    0%{ width:0%; }
    100%{width: 80%;}
}

.skills .skill .resprob{
    width: 0;
    animation: 3s resprob forwards;
    -webkit-animation: 3s resprob forwards;
}

@keyframes resprob{
    0%{ width:0%; }
    100%{width: 75%;}
}

.skills .skill .trabeq{
    width: 0;
    animation: 3s trabeq forwards;
    -webkit-animation: 3s trabeq forwards;
}

@keyframes trabeq{
    0%{ width:0%; }
    100%{width: 70%;}
}

.skills .skill .autoapren{
    width: 0;
    animation: 3s autoapren forwards;
    -webkit-animation: 3s autoapren forwards;
}

@keyframes autoapren{
    0%{ width:0%; }
    100%{width: 90%;}
}

.skills .skill .comunacer{
    width: 0;
    animation: 3s comunacer forwards;
    -webkit-animation: 3s comunacer forwards;
}

@keyframes comunacer{
    0%{ width:0%; }
    100%{width: 50%;}
}

.skills .skill .dedica{
    width: 0;
    animation: 3s dedica forwards;
    -webkit-animation: 3s dedica forwards;
}

@keyframes dedica{
    0%{ width:0%; }
    100%{width: 50%;}
}

.skills .skill .admin{
    width: 0;
    animation: 3s admin forwards;
}

@keyframes admin{
    0%{ width:0%; }
    100%{width: 8cqmin;}
}

/* --------------------------------SECCION CURRICULUM -------------------------------- */
.curriculum{
    color: #fff;
    padding: 40px 5px;
    height: 105vh;
    display:flex;
    align-items: center;

}

.curriculum .contendor-seccion{
    max-width: 1050px;
    margin: auto;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 48.4%;
    padding: 0 28px;
}
.curriculum .fila .col h3{
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
.curriculum .fila .izquierda{
    border-right: 4px solid rgba(230,214,45,.95);
    overflow: auto;
}
.curriculum .fila .derecha{
    border-left: 4px solid rgba(230,214,45,.95);
    overflow: auto;
}
.curriculum .fila .item{
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(74, 122, 124, 0.65);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.curriculum .fila .item .casa{
    color: rgba(230,214,45,.85);
    font-size: 20px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: rgba(230,214,45,.75);
    margin-bottom: 5px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 4px solid rgba(230,214,45,.85);
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 4px solid rgba(230,214,45, .85);
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 4px;
    background-color: rgba(230,214,45,.75);
    width: 40px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 80%;
    background-color: rgba(230,214,45,.95);
    float: right;
    position: relative;
    bottom: 6px;
}
.curriculum .fila .item .conectord{
    height: 4px;
    background-color: rgba(230,214,45,.75);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 80%;
    background-color: rgba(230,214,45,.95);
    float: left;
    position: relative;
    bottom: 6px;
}

/* SECCION portafolio */
.portafolio{
    color: #fff;
    padding: 40px 5px;
    height: 100vh;
    display:flex;
    align-items: center;
}
.portafolio .contenido-seccion{
    max-width: 1050px;
    margin: auto;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 260px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(230,214,45,.65), rgba(230,214,45,.55));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 16px;
    letter-spacing: 3px;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.portafolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{    
    color: #fff;
    padding: 80px 5px;
    height: 105vh;
    align-items: center;
}
.contacto .contenido-seccion{
    max-width: 1050px;
    margin: auto;
}

.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 14px;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(74, 122, 124, 0.75);
    color: #fff;
    font-size: 18px;
}

.contacto .col input:focus-visible, .contacto .col textarea:focus-visible{
    outline: none;
    border: 3px solid rgba(230,214,45, .9) !important;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(230,214,45, .85);
    z-index: -1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
    font-weight: bold;
}
.contacto .col img{
    width: 90%;
}
.contacto .col .info{
    position: absolute;
    top: 20%;
    background-color: rgba(74, 122, 124, 0.7);
    padding: 25px;
    max-width: 400px;
    left: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: rgba(230,214,45, .95);
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: rgba(41, 41, 41, 0.85);
    color: #fff;
    padding: 30px 0 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    -webkit-transition:3s;
    -moz-transition:3s;
    -ms-transition:3s;
    -o-transition:3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgba(230,214,45, .95);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
    .inicio .contenido-banner{
        max-width: 250px;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }
    .portafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}